html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', Verdana, sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #102746;
}

h1,
h2,
h3 {
  font-weight: 400;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-lg {
  max-width: 1292px;
}

.section-title {
  position: relative;
  padding-bottom: 10px;
  font-size: 3.5rem;
  line-height: 4.2rem;
}

.section-title::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 253px;
  height: 3px;
  background: #006dfe;
}

.arrow-link {
  padding-right: 59px;
  color: #006dfe;
  text-transform: uppercase;
  background: url('../img/svg/arrow-icon.svg') no-repeat right center;
  transition: opacity 0.3s;
}

.arrow-link:hover,
.arrow-link:focus,
.arrow-link:active {
  opacity: 0.7;
}

/* header ---------------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 15px 0;
  background: transparent;
  transition: 0.3s linear;
}

.header.active {
  background: #0e1d28;
  box-shadow: 0px 2px 5px rgba(21, 24, 36, 0.2);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
}

.header__menu-item {
  margin-right: 62px;
}

.header__menu-item:last-child {
  margin-right: -10px;
}

.header__menu-link {
  padding: 10px;
  font-size: 1.8rem;
  color: #fff;
  transition: 0.5s;
}

.header__logo {
  width: 82px;
  height: 31px;
}

.logo {
  transition: 0.3s;
}

.logo:hover,
.logo:focus,
.logo:active,
.header__menu-link:hover,
.header__menu-link:focus,
.header__menu-link:active {
  opacity: 0.75;
}

.burger {
  position: relative;
  display: none;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
}

.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_third {
  top: calc(100% - 3px);
}

.close {
  position: relative;
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.close__line {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
}

.close__line_first {
  transform: rotate(45deg);
}

.close__line_second {
  transform: rotate(-45deg);
}

/* intro ----------------------------------------- */

.intro {
  min-height: 100vh;
  padding: 263px 0 280px;
  background: url('../img/intro-bg.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
}

.intro__title {
  max-width: 619px;
  margin: 0;
  margin-bottom: 22px;
  font-size: 5rem;
  line-height: 6rem;
}

.intro__subtitle {
  max-width: 546px;
  margin-bottom: 57px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 60px;
}

.search-form__input {
  width: 300px;
  padding-bottom: 22px;
  padding-left: 43px;
  color: #fff;
  font-size: 1.8rem;
  background: transparent url('../img/svg/circle-icon.svg') no-repeat left top;
  background-size: 20px;
  border: none;
  border-bottom: 2px solid #bfc0c5;
  outline: none;
}

.search-form__input::placeholder {
  color: #fff;
  font-size: 1.8rem;
  transition: 0.25s;
}

.search-form__input:focus::placeholder {
  opacity: 0;
}

.search-form__submit {
  padding: 15px 39px;
  font-size: 2.4rem;
  color: #fff;
  text-transform: uppercase;
  background: #1b7dff;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active {
  background: #185fbd;
  outline: none;
}

/* benefits ------------------------------- */

.benefits {
  margin-top: -223px;
  margin-bottom: 131px;
}

.benefits__wrapper {
  max-width: 1262px;
  margin: 0 auto;
  padding: 93px 100px 111px;
  background: #fff;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits__title {
  margin-bottom: 120px;
  font-size: 3.5rem;
  line-height: 4.2rem;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
}

.benefits__card {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.benefits__card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}

.benefits__card-title {
  margin-bottom: 26px;
  font-size: 1.8rem;
}

.benefits__card-desc {
  margin-bottom: 39px;
}

.benefits__card .arrow-link {
  margin-top: auto;
}

/* places ---------------------------------- */

.places {
  margin-bottom: 100px;
}

.places__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.places__title {
  margin-right: 30px;
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.places__card {
  position: relative;
  overflow: hidden;
}

.places__card_lg {
  grid-column: span 3;
  height: 354px;
}

.places__card_sm {
  grid-column: span 2;
  height: 283px;
}

.places__card::after,
.places__card-link {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.places__card::after {
  z-index: 1;
  background: rgba(21, 24, 36, 0.4);
}

.places__card-img {
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  transition: 0.3s;
}

.places__card:hover .places__card-img {
  transform: scale(1.05);
}

.places__card-title {
  position: absolute;
  bottom: 27px;
  left: 30px;
  z-index: 2;
  color: #fff;
  font-size: 5rem;
  line-height: 6rem;
  font-weight: 700;
}

.places__card-link {
  z-index: 3;
  background: transparent;
}

/* tours ------------------------ */

.tours {
  padding-top: 30px;
  margin-bottom: 110px;
}

.tour {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 77px;
}

.tour__pic {
  flex-basis: 597px;
}

.tour__info {
  flex-basis: 605px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 25px 43px;
}

.tour__title {
  max-width: 380px;
  font-size: 3rem;
  line-height: 4rem;
}

.tour__desc {
  max-width: 519px;
}

/* top ------------------------------- */

.top {
  padding-top: 30px;
  margin-bottom: 144px;
}

.top__title {
  margin-bottom: 54px;
}

.top__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 58px 52px;
}

.top__card {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.top__card-pic {
  position: relative;
  margin-bottom: 45px;
}

.top__card-stats {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 15px 25px;
  color: #fff;
  background-color: rgba(21, 24, 36, 0.6);
}

.top__card-title {
  font-size: 1.8rem;
  margin-right: auto;
}

.top__card-likes {
  margin-right: 14px;
  padding-right: 20px;
  background: url('../img/svg/heart-icon.svg') no-repeat right;
}

.top__card-comments {
  padding-right: 23px;
  background: url('../img/svg/comments-icon.svg') no-repeat right;
}

.top__card-desc {
  margin-bottom: 31px;
}

.top__card-link {
  display: inline-block;
  margin-top: auto;
  padding: 11px 19px;
  text-transform: uppercase;
  color: #fff;
  background: #006dfe;
  transition: 0.3s;
}

.top__card-link:hover,
.top__card-link:focus,
.top__card-link:active {
  background: #185fbd;
}

/* videos ------------------------------ */

.videos__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.video {
  position: relative;
  padding-top: 56.25%;
}

.videoframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* footer -------------------------------- */

.footer {
  padding: 118px 0;
  color: #fff;
  background: #0e1d28;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 170px;
  height: 64px;
}

.footer__nav {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
}

.footer__menu-title {
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.footer__menu-item {
  line-height: 2.8rem;
}

.footer__menu-link {
  display: block;
  transition: 0.5s;
}

.footer__menu-link:hover,
.footer__menu-link:focus,
.footer__menu-link:active {
  opacity: 0.75;
}
