html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', Verdana, sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: normal;
  color: #102746;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 56px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  margin: 0;
  list-style: none;
}

.navigation__item {
  margin-right: 62px;
}

.navigation__item:last-child {
  margin-right: -10px;
}

.navigation__link {
  padding: 10px;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.logo {
  transition: 0.5s;
}

.logo:hover,
.logo:focus,
.logo:active,
.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active {
  opacity: 0.75;
}

/* intro ----------------------------------------- */

.intro {
  min-height: 962px;
  padding: 263px 0;
  background: url('../img/intro-bg.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
}

.intro__title {
  max-width: 619px;
  margin: 0;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 5rem;
  line-height: 6rem;
}

.intro__subtitle {
  max-width: 546px;
  margin-bottom: 57px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form__input {
  width: 300px;
  margin-right: 60px;
  padding-bottom: 22px;
  padding-left: 43px;
  color: #fff;
  font-size: 1.8rem;
  background: transparent url('../img/svg/circle-icon.svg') no-repeat left top;
  background-size: 20px;
  border: none;
  border-bottom: 2px solid #bfc0c5;
  outline: none;
}

.search-form__input::placeholder {
  color: #fff;
  font-size: 1.8rem;
  transition: 0.25s;
}

.search-form__input:focus::placeholder {
  opacity: 0;
}

.search-form__submit {
  padding: 15px 39px;
  font-size: 2.4rem;
  color: #fff;
  text-transform: uppercase;
  background: #1b7dff;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active {
  background: #185fbd;
  outline: none;
}

/* benefits ------------------------------- */

.benefits {
  margin-top: -223px;
  margin-bottom: 131px;
}

.benefits__wrapper {
  max-width: 1262px;
  margin: 0 auto;
  padding: 93px 100px 111px;
  background: #fff;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits__title {
  width: 100%;
  margin-bottom: 120px;
  font-style: normal;
  font-size: 3.5rem;
  line-height: 4.2rem;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
}

.benefits__card {
  grid-column: span 1;
}

.benefits__card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}

.benefits__card-title {
  margin-bottom: 26px;
  font-size: 1.8rem;
}

.benefits__card-desc {
  margin-bottom: 39px;
}

.benefits__card-more {
  padding-right: 59px;
  color: #006dfe;
  text-transform: uppercase;
  text-decoration: none;
  background: url('../img/svg/arrow-icon.svg') no-repeat 95% center;
  transition: 0.2s;
}

.benefits__card-more:hover,
.benefits__card-more:focus,
.benefits__card-more:active {
  background-position: right center;
  color: #0563df;
}
